@inject IJSRuntime JSRuntime

@if (_isOnline)
{
    <div>You are Online</div>
}
else
{
    <div>You are Offline</div>
}

@code {
    private bool _isOnline;

    [JSInvokable]
    public void SetOnline(bool isOnline)
    {
        _isOnline = isOnline;
        StateHasChanged();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var reference = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("interop.registerOnlineHandler", reference);
        }            
    }
}
